.resume

  .resume_header
    .resume_contact.col-sm-4.col-md-3.text-center
      .resume_name
        %h2 David Chmura

      .resume_phone
        %h3 734•864•1232
      %br  
      .resume_email
        dschmura@humbledaisy.com
  .experience_section
    %h2 Experience
    

    %h2.job Systems Architect Intermediate, LSA MIS - University of Michigan
    .col-sm-6.date
      September 2015 - Present
    .location
      Ann Arbor, MI
    
    I developed and manage The University of Michigan's classroom management system. Most of my work has been in full-stack web development (Ruby on Rails, jQuery, HTML5, CSS). In addition to designing and building this application, I have worked on server-side support for the core infrastructure on which it resides. 

    %ul.experience

      %li Design and develop web applications for College of LSA
      %li Designed and coded new MClassrooms site for tracking classrooms at the University of Michigan. (http://rooms.lsa.umich.edu)
      %li Developed and administered curriculum to train team on use of Git for source control.

    %h2.job Information Services Consultant, LSA MIS - University of Michigan
    .col-sm-6.date
      October 2013 - September 2015
    .location
      Ann Arbor, MI
    
    %ul.experience

      %li Designed and coded new MClassrooms site for tracking classrooms at the University of Michigan. (http://rooms.lsa.umich.edu)
      %li Project manager for Museums Data Management System project. 
      %li Provide training to faculty, staff, students, and departmental technical workers.
    
    %h2.job Information Services Consultant, LSA ISS - University of Michigan
    .col-sm-6.date
      October 2013 - September 2015
    .location
      Ann Arbor, MI
    
    %ul.experience

      My role was to help deliver an outstanding customer experience by working closely with  clients to ensure consistent and reliable managed computer systems, instructional   technology integration and support for innovative teaching. 

      %li Gather client requirements and design robust systems for deploying and managing dual-boot Macintosh computers for instructional use for the College of LSA.
      %li Oversee hardware and software acquisition for multimedia classrooms to meet faculty and student needs.
      %li Architect and co-developer for BlueReview Digital Lecture Capture system for LSA’s non-intrusive lecture and presentation capture and distribution. 
      = link_to "http://bluereview.lsa.umich.edu", "http://bluereview.lsa.umich.edu"
    

    %h2.job CEO and Chief Instigator - Humble Daisy, Inc. 
    .col-sm-6.date
      August 2002 - Present
    .location
      Ann Arbor, MI

    %ul.experience
      %li Designed and launched ProfCast lecture capture software for Macintosh and Windows.
      %li Designed and launched SonicPics digital story telling application for the iPhone.
      %li Evaluated user needs, designed, and implemented web sites including designing site architecture and creating content for all projects.
      %li Designed web interfaces including writing content and site architecture.
      %li Designed logos, graphics, and marketing materials for web-based, desktop, and mobile platform software products.
      %li Attend professional conferences, visit schools and colleges and meet educational customers for feedback.
      %li A comprehensive portfolio is available at:
      =link_to 'http://www.humbledaisy.com/portfolio', 'http://www.humbledaisy.com/portfolio'


    %h2.job Systems Administrator, School of Information - University of Michigan
    .col-sm-6.date
      August 2002 - 2007
    .location
      Ann Arbor, MI

    %ul.experience
      %li Coordinated purchasing and provided cost/benefit analysis for hardware and software purchasing decisions. 
      %li Supervised work of 14 part-time technical staff.
      %li Developed policies and procedures for information technology issues at the school.
      %li Macintosh systems architect and support liaison for 165+ machines.
      %li Created and executed migration plan of Macintosh computers to Mac OS X. 
      %li Architected and implemented a support infrastructure to facilitate deployment, maintenance, and recovery for Mac OS X systems.
      %li Redesigned and re-architected Computing Group web site, adding dynamic content engine and an user authentication system.
      %li Conducted first student satisfaction survey relating to technological infrastructure at the school.
      %li Created CastCart Digital Lecture Capture system for easy, non-intrusive lecture and presentation capture and broadcast



    %h2.job Graduate Student Research Asst, School of Information - University of Michigan
    .col-sm-6.date
      January 2000 - August 2002
    .location
      Ann Arbor, MI

    %ul.experience
      %li Evaluated user needs, designed and implemented web sites for two multi-million dollar federal research projects: Great Lakes CFAR and The Connection Project.
      %li Designed logo used for major federally funded research project.
      %li Conducted usability evaluations on project web site.
      %li Implemented major web site redesign project, including graphics design, writing content and site architecture for Great Lakes CFAR web site.
      %li Develop standards-based web sites that conform with usability and accessibility guidelines.


    %h2.job Web Master / Designer, Health Media Research Lab - University of Michigan
    .col-sm-6.date
      January 1999 - December 2000
    .location
      Ann Arbor, MI

    %ul.experience
      %li Developed new interface designs to address navigation and programming issues and developed style guides for new educational multimedia games.
      %li Trained staff of 16 on use of HTML editing software and supervised HTML development.
      %li Designed web interfaces including writing content, designing site architecture, and a style guide for department web site.
      %li Designed and maintained multimedia content using Quicktime, Macromedia Director, and other tools for ongoing interactive multimedia kiosk project.
      %li Led development of new web services with HTML, implemented CGI scripts, on both Macintosh and UNIX servers.
    


    %h2.job Computer Consultant I, Health Media Research Lab - University of Michigan
    .col-sm-6.date
      November 1998 - December 1999 
    .location
      Ann Arbor, MI

    %ul.experience
      %li Coordinated, supervised and provided direct support for 100 interactive multimedia kiosks throughout the state of Michigan.
      %li Designed and oversaw the upgrade and replacement of 100+ systems.
      %li Provided Macintosh hardware and software support for 25+ users in a multimedia lab.
      %li Supervised six student programmers.
    


    %h2.job Research Assistant / Research Secretary - University of Michigan 
    .col-sm-6.date
      April 1997 - November 1998
    .location
      Ann Arbor, MI

    %ul.experience
      %li Scheduled and coordinated testing of subjects for Federally supported research study.
      %li Conducted on-line literary searches for scientific journals, and train principle investigators in utilizing on-line journal resources.
      %li Reconciled Federal and Private grants for 25 accounts.
      %li Scheduled and coordinated Faculty Candidate interviews and hosting functions for department.
      %li Generated solutions to computer related problems, including installations, and training.


    %h2.job Director of Residence Life - DeSisto School
    .col-lg-6.col-md-6.date
      April 1995 - April 1996
    .location
      Stockbridge, MA

    %ul.experience
      
      %br
      %br
      %li Oversaw all aspects of student life at a private boarding high school.
      %li Directed a staff of 45 professional personnel.
      %li Trained and provided counseling for faculty and students.
      %li Developed and implemented staff accountability protocols and policies. 
      %li Recruited and hired staff.
      %li Directed daily faculty meetings and weekly staff meetings.
      %li Directed therapeutic group intervention sessions for faculty and staff.
      %li Planned and coordinated weddings and corporate retreats, including the Boston Symphony Orchestra.


     
  .resume_sidebar

    .experience_sidebar
      %h3 Experience
      %ol
        %li Project Management
        For any project to be successful, it needs to be tended, cared for, and nurtured to completion.  Every project that I have worked on has involved my direct interaction with the client and I recognize the importance of instilling confidence and delivering quality results.
    
        %li Instructional Technology
        I have worked collaboratively with educators at various levels of competency to help them effectively integrate and leverage technology in their instruction. 
    
        %li Public Speaking
        I am comfortable speaking extemporaneously with individuals, groups and in front of thousands of people.  
    
        %li Leadership
        I think that excellent leaders approach their roles as providing support and resources that allow and encourage those around them to succeed.  An effective manager understands the strengths and weaknesses of their staff, removes barriers to their success and inspires them to excel.
      
    %br

    .a_bit_about_me_sidebar
      %h3 
        A bit about me...
      %p My unusually diverse background makes me an ideal candidate.  My range of experience includes project management, teaching and counseling students and staff as director of a boarding school, policy development, 
      .field_circle
        = image_tag("field_circle.png")
      marketing, customer relations, social networking, web site development, crisis counseling, quality assurance, computer maintenance, trouble-shooting & repair, software development, and large scale software deployment. This eclectic mix of skills provides me with an excellent mix of technological knowledge, observational skills and an understanding of what individuals and groups need to be inspired, work, and meet their potential.
      
  
    .education_sidebar
      %h3 
        Education
      %p
        University of Michigan, 2002
        %br
        Masters of Science (Information), School of Information, Ann Arbor, MI  
        %br
        Human Computer Interaction
        
      %p
        Alma College, 1995
        %br
        Bachelor of Science (Psychology), Alma, MI 
        %br
        Graduated with honors
      %p
        Dev Bootcamp
        %br
        19 week intensive training in full stack web application development. Chicago, IL
