/ ///// FEATURES SECTION /////
%section#section-features.features
  .container
    .title
      %h2 Features
      %hr.small/
      %p Why should you go with Neat? Here are a few good reasons.
    .feature-items
      .feature-item
        %i.fa.fa-tachometer
        %h4 Built For Speed
        %p The code base behind Neat is super light and optimised to load faster than fast.
      .feature-item
        %i.fa.fa-cogs
        %h4 Coded with Clean Sass
        %p Styles are organised in partial Sass files, for a modular and efficient framework.
      .feature-item
        %i.fa.fa-paper-plane
        %h4 No Useless Bloat
        %p Neat is simple and straight to the point. No bloat, mass features to slow you down.
      .feature-item
        %i.fa.fa-child
        %h4 Future Proof
        %p Ride a cutting edge, next generation front-end framework with Bourbon Neat.
      .feature-item
        %i.fa.fa-heart
        %h4 Crafted with Passion
        %p This template was design with a genuine desire to make your brand look good.
      .feature-item
        %i.fa.fa-life-ring
        %h4 Friendly Support
        %p Built by an author that takes customer satisfaction serioulsy, you're in good hands.