/ ///// INTRO SECTION  /////
%section#section-intro.intro
  .image-bg{"data-stellar-background-ratio" => "0.2"}
  .color-overlay
  .container
    .logo
      %a{:href => "index.html"}
        %h1
          -# %img{:alt => "logo", :src => "../assets/DavePics/Charac.gif"}
    %h3 Neat is a lightning quick landing page built on the cutting edge Bourbon Neat framework.
  / the 'jump down' button to scroll to next section
  %a.jump-down{:href => "#section-features"}
    %i.fa.fa-chevron-down
