/ ///// QUOTE SECTION /////
%section.quote
  .image-bg{"data-stellar-background-ratio" => "0.5"}
  .color-overlay
  .container
    #quote-slider.owl-carousel.owl-theme
      .item
        / quote text
        %blockquote
          Say what you want about having 5 amazing sliders or 1,000+ layout shortcodes.. This template just works, and it works super fast. I'm taking that over bloatware any day of the week!
          / quote author
          %cite
            Joshua Sparks,
            %a{:href => "#"} Freelance Magazine
      .item
        / quote text
        %blockquote
          Hmmm... Wow! I've been working with a lot of templates, but i was pleasantly surprised with this one. The amount of CSS is minimal, and very well organised. Nice!
          / quote author
          %cite
            Samantha Smith,
            %a{:href => "#"} Mum Entrepreneur