/ ///// SHOWCASE SECTION /////
%section#section-showcase.showcase
  .container
    .title
      %h2 Showcase
      %hr.small/
      %p Words are nice and all, but come on.. Time for some visual proof!
    / image slider
    .split
      .split-left.split-text
        %h4 Touch Enabled Image Slider
        %p.lead Sliders are nice, especially when you can flick across them with your finger or mouse.
        %p
          Create beautiful responsive, touch enabled content sliders with the wonderful
          %a{:href => "http://owlgraphic.com/owlcarousel/", :target => "_blank"} Owl Carousel
          jQuery plugin.
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, amet, perspiciatis. Ullam dolor repellat molestias quisquam commodi distinctio nam hic ratione architecto!
        %p Fugiat, expedita dolore consequuntur ducimus nulla ex maxime.
        %a.button.large{:href => "http://themeforest.net/user/simonswiss/portfolio"} Buy This Template
        \ 
        %a.button.large.alt{:href => "#section-contact"} Get in Touch

      .split-right.split-media
        #showcase-slider.owl-carousel.owl-theme
          / slider items
          .item
            = image_tag("DavePics/davechmura_aboutme.png") 
          .item
            = image_tag("DavePics/davechmura_aboutme.png")
          .item
            = image_tag("DavePics/davechmura_aboutme.png")
%section.showcase.gray
  .container
    / video example
    .split
      .split-left.split-text.float-right
        %h4 Video Presentation
        %p.lead What better ways to showcase your products and services than using a presentation video?
        %p
          While you're at it, here's a nice little introduction to the awesome
          %a{:href => "http://neat.bourbon.io/", :target => "_blank"} Bourbon Neat framework
          \- it will show you how you can skip all the CSS classes from other popular front-end frameworks.
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, amet, perspiciatis.
      .split-right.split-media.float-left
        .fitvids
          / responsive video iframe
          %iframe{:allowfullscreen => "", :height => "315", :src => "http://www.youtube.com/embed/P8wyUq5Z3Kw", :width => "560"}
%section.showcase
  .container
    / single image example
    .split
      .split-left.split-text
        %h4 The Good Ol' Plain Image
        %p.lead Of course, sometimes a good ol' single image is still the best solution.
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, amet, perspiciatis. Ullam dolor repellat molestias quisquam commodi distinctio nam hic ratione architecto!
        %p Fugiat, expedita dolore consequuntur ducimus nulla ex maxime.
      .split-right.split-media
        / insert your image here
        = image_tag("DavePics/davechmura_aboutme.png")