/ ///// skills SECTION /////
%section#section-skills.skills
  .container
    .title
      %h2 Skills
      %hr.small/
      %p I've done a lot of things...here is a sampling.
    .skill-items
      .skill-item
        %i.fa.fa-crop
        %h4 Design
        %p By clearly understanding the goals of the project, I design web applications that are designed to accomplish those goals. Careful planning improves the effectiveness of the application while minimizing the cost of revisions as new enhancements are added in the future.
      .skill-item
        %i.fa.fa-laptop
        %h4 User Experience
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
      .skill-item
        %i.fa.fa-code
        %h4 Code
        %p I see writing code as a craft and am constantly seeking mastery. I develop standards compliant code that is written to be readable, understandable, tested, and maintainable. This is what good software is all about.
      .skill-item
        %i.fa.fa-graduation-cap
        %h4 Teaching / Mentorship
        %p I support Girl Develop IT Ann Arbor as a teaching assistant. I develop workshops and tutorials to help my team continue to learn and grow at work.
      .skill-item
        %i.fa.fa-cogs
        %h4 Product Management
        %p I have brought several products to fruition. From conception, design, user testing, coding, marketing, distribution and support.  
      .skill-item
        %i.fa.fa-child
        %h4 I like puns n fun
        %p I find puns enjoyable. I also enjoy fun, long walks on moonlit beach and tacos. Friday's are for sending hugs on the internets.
