/ ///// skills SECTION /////
%section#section-skills.skills
  .container
    .title
      %h2 Skills
      %hr.small/
      %p Why should you go with Neat? Here are a few good reasons.
    .skill-items
      .skill-item
        %i.fa.fa-crop
        %h4 Design
        %p By clearly understanding the goals of the project, I design web applications that are designed to accomplish those goals. Careful planning improves the effectiveness of the application while minimizing the cost of revisions as new enhancements are added in the future.
      .skill-item
        %i.fa.fa-laptop
        %h4 User Experience
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
      .skill-item
        %i.fa.fa-code
        %h4 Code
        %p I see writing code as a craft and am constantly seeking mastery. I develop standards compliant code that is written to be readable, understandable, tested, and maintainable. This is what good software is all about.
      .skill-item
        %i.fa.fa-tachometer
        %h4 Teaching / Mentorship
        %p I support Girl Develop IT Ann Arbor as a teaching assistant. I develop workshops and tutorials to help my team continue to learn and grow at work.
      .skill-item
        %i.fa.fa-cogs
        %h4 Product Management
        %p Styles are organised in partial Sass files, for a modular and efficient framework.
      .skill-item
        %i.fa.fa-paper-plane
        %h4 Entrepreneur
        %p Neat is simple and straight to the point. No bloat, mass skills to slow you down.
      .skill-item
        %i.fa.fa-child
        %h4 Future Proof
        %p Ride a cutting edge, next generation front-end framework with Bourbon Neat.
      .skill-item
        %i.fa.fa-heart
        %h4 Crafted with Passion
        %p This template was design with a genuine desire to make your brand look good.
      .skill-item
        %i.fa.fa-life-ring
        %h4 Friendly Support
        %p Built by an author that takes customer satisfaction serioulsy, you're in good hands.